{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">-
    <link rel="stylesheet" href="{% static 'bstreeview/css/bstreeview.min.css' %}" media="screen">
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <title>Joplin Web</title>
    <meta name="author" content="FoxMaSk">{% block myhead %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top sticky-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'home' %}">
      <i class="fas fa-seedling"></i>
      <span class="menu-collapsed">Joplin Web</span>
  </a>
  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <a type="button" class="btn btn-primary" href="{% url 'create_note' %}"><i class="fas fa-plus-circle"></i> {% trans 'Create note' %}</a>
    </li>
    <li class="nav-item">
        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#tagCreateModal"><i class="fas fa-plus-circle"></i> {% trans 'Create tag' %}</a>
    </li>
    <li class="nav-item">
      <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#folderCreateModal"><i class="fas fa-plus-circle"></i> {% trans 'Create folder' %}</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    {% block content %}
    <div class="col-2">
      {% include 'folders_list.html' with folders=folders %}
      {% include 'tags_list.html' with tags=tags %}
    </div>
    <div class="col-2">
      {% include 'notes_list.html' with notes=notes %}
    </div>
    <div class="col-8">
      {% include 'take_note.html' %}
    </div>
    {% endblock %}
  </div>
</div>
<hr/>
<footer class="footer">
    <div class="container">
        <p>2018 - {% now "Y" %} <a href="https://gitlab.com/annyong/joplin-web">Joplin Web</a></p>
    </div>
</footer>

<!-- Modal to create Folder and Tag -->
<div class="modal fade" id="folderCreateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="folderCreateModalLabel">{% trans 'New Folder' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'create_folder' %}" method="post">{% csrf_token %}
      <div class="modal-body">
        {{ form_folder.non_field_errors }}
        <div class="form-group">
            {{ form_folder.title.errors }}
            {{ form_folder.title }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <input type="submit" class="btn btn-outline-primary" value="{% trans 'Create' %}">
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="tagCreateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tagCreateModalLabel">{% trans 'New Tag' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'create_tag' %}" method="post">{% csrf_token %}
      <div class="modal-body">
        {{ form_tag.non_field_errors }}
        <div class="form-group">
            {{ form_tag.title.errors }}
            {{ form_tag.title }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <input type="submit" class="btn btn-outline-primary" value="{% trans 'Create' %}">
      </div>
      </form>
    </div>
  </div>
</div>
<!-- End Modal to create Folder and Tag -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="{% static 'bstreeview/js/bstreeview.min.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>
